// Place all the styles related to the TedTalks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.command-btn {
  list-style-type: none;
}

.command-btn:nth-child(1) a {
  top: 40px;
}

.command-btn:nth-child(2) a {
  top: 80px;
}

.command-btns {
  position: fixed;
  right: 10%;
}